.new-items-by-category__wrapper--list__bottom
  %ul
    %li
      = link_to "items/#{supreme.id}", class: "new-items-by-category__wrapper--list__bottom__link" do
        .new-items-by-category__wrapper--list__bottom__image
          = image_tag "#{supreme.item_images.first.image_url}", size: "188x188", alt: "商品イメージ"
          %span
            ¥
            = supreme.price
        .new-items-by-category__wrapper--list__bottom__item-name 
          =supreme.name.truncate(25)
    