.login-header
  .login-header__title
    .login-header__title_logo
    = link_to (image_tag "fmarket_logo_red.svg", size: "185x49", alt: "Fmarket",class: "login-header__upper__title-logo__link"), :root
    .login-main__container-form

      
.login-header-signin
  .login-header-signin__index 
    アカウントをお持ちでない方はこちら
    %br/
    = link_to '新規会員登録',new_user_registration_path, class: "new-signup-button"
  .login-main__container-form__list 
    .login-main__container-form__list__btn-facebook  
    = link_to 'Facebookでログイン',omniauth_authorize_path(resource_name, resource_class.omniauth_providers[0]), class: "wrapper-facebook-btn__link" 
    .login-main__container-form__list__btn-google 
    = link_to 'Googleでログイン',omniauth_authorize_path(resource_name, resource_class.omniauth_providers[1]), class: "wrapper-google-btn__link" 
  .login-header-signin__form
    = form_for @user,url: user_session_path, method: :post, html: {class: 'first-main__box'} do |f|
      .login-header-signin__form-content
        .form-group 
          = f.email_field :email, placeholder: 'メールアドレス',class: 'input-default',required: true 
        .form-group 
          = f.password_field :password, placeholder: 'パスワード',class: 'input-default',required: true
        
        -# = recaptcha_tags site_key: ENV['RECAPTCHA_SITE_KEY'] ,class: 'recapcha-tag'

        = f.submit class: 'done-button',value:'ログイン'
        .link-block
          -# =link_to'パスワードをお忘れの方', '#',class: "link"

