-# %li.item-box
-#   = link_to "#", class: "new-items-by-category__wrapper--list__bottom__link" do
-#     .item-box__image
-#       = image_tag "mercari.jpg", size: "220x220", alt: "商品イメージ"
-#     %h3.item-box__item-name "ここは文字数制限すすすすする".truncate(値)
-#     .item-box__item-num
-#       .item-box__item-num--price ¥4,900
-#       .item-box__item-num--like
-#         %i.far.fa-heart
-#         %span 8

%li.item-box
  = link_to item_path(item), class: "new-items-by-category__wrapper--list__bottom__link",data: {"turbolinks"=>false} do
    .item-box__image
      = image_tag "#{item.item_images[0].image_url}", size: "220x220", alt: "商品イメージ"
    %h3.item-box__item-name 
      = item.name.truncate(25)
    .item-box__item-num
      .item-box__item-num--price 
        ¥
        %span
          = item.price
      .item-box__item-num--like
        %i.far.fa-heart
        %span 8
