.wrapper
  .item-box-container 
    %h1.item-name コーチ シグネチャーショルダーバッグ
    .item-main-content
      .item-photo
        .item-photo__load
          %ul.slider#slider
            = render "slide-item"
            = render "slide-item"
            = render "slide-item"
            = render "slide-item"
            = render "slide-item"
            = render "slide-item"
          .item-photo__thumbnail
            %ul#thumbnail-list
              = render 'thumbnail-item'
              = render 'thumbnail-item'
              = render 'thumbnail-item'
              = render 'thumbnail-item'
              = render 'thumbnail-item'
              = render 'thumbnail-item'
      %table.item-detail-table
        %tr
          %th.th 出品者
          %td.user-info
            %a.name
              = link_to "#", class:"name" do
                みぽ
            %ul.item-user-ratings
              %li.icon-good
                %i.fas.fa-laugh
                %span 1029
              %li.icon-normal
                %i.fas.fa-meh
                %span 3654
              %li.icon-sad
                %i.fas.fa-tired
                %span 45512
        %tr
          %th.th カテゴリー
          %td.item-category
            %ul.item-categories
              %li.item-detail-table__category
                = link_to "#", class:"item-detail-table__category" do
                  %span レディース
              %li.item-detail-table__sub-category
                = link_to "#", class:"item-detail-table__sub-category" do
                  %i.fas.fa-chevron-right
                  %span バッグ
              %li.item-detail-table__sub-sub-category
                = link_to "#", class:"item-detail-table__sub-sub-category"do
                  %i.fas.fa-chevron-right
                  %span ショルダーバック
        %tr
          %th.th ブランド
          %td.bland
            = link_to "#" do
              コーチ
        %tr
          %th.th 商品の状態
          %td 目立った傷や汚れなし
        %tr
          %th.th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th.th 配送の方法
          %td ゆうゆうメルカリ便
        %tr
          %th.th 配送元地域
          %td.prefecture
            %a 
              = link_to "#" do
                神奈川県

        %tr
          %th.th 発送日の目安
          %td 1~2日で発送
    .item-price-box  
      %span.item-price ¥4,000円
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .item-buy-btn 
      = link_to "#", class:"item-buy-btn" do
        購入画面へ進む
    %p.shipping-not-allowed-message この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .item-description
      %p.item-description__inner
      コーチ シグネチャーショルダーバッグ
      %br
      %br
      ゴールド 裏地 パープル
      %br
      %br
      あまり使用した記憶がなく、長期自宅保管な感じです。
      %br
      比較的キレイな商品だと思います。
      %br
      %br
      長さ調整ができるので斜め掛けでも
      そのまま肩にかけてでも使用できます⭐︎
      %br
      縦 約32㎝
      横 約31㎝
      マチ 約4㎝
      素人採寸です。
      %br
      %br
      小さくたたんで送付いたしますこと、ご了承下さい。
    .item-button-container
      %ul.item-button-left
        %li.item-button-like
          = link_to "#", class:"item-button-like" do
            %i.far.fa-heart
            %span いいね！
            %span.fade-in-down 0
        %li.item-button-report
          = link_to "#", class:"item-button-report" do
            %i.far.fa-flag
            %span 不適切な商品の報告
        %li.item-button-right
          = link_to "#", class:"item-button-right" do
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container
      .message-content
        %form.message-form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea
          %button.message-submit-btn
            %span コメントする
  %ul.nav-item-link
    %li.nav-item-link__prev 
      = link_to "#", class:"nav-item-link__prev" do
        %i.fas.fa-chevron-left
        %span LOVETOXIC ショートパンツ
    %li.nav-item-link__next
      = link_to "#", class:"nav-item-link__next" do
        %span 送料無料！ナラ100%乾燥薪20キロ！サービス有り！
        %i.fas.fa-chevron-right
  .item-social-media-box
    %ul.social-media-box
      %li.share-btn 
        = link_to "#", class:"share-btn" do
          %i.fab.fa-facebook-square
      %li.share-btn 
        = link_to "#", class:"share-btn" do
          %i.fab.fa-twitter-square
      %li.share-btn 
        = link_to "#", class:"share-btn" do
          %i.fab.fa-line
      %li.share-btn         
        = link_to "#", class:"share-btn" do
          %i.fab.fa-pinterest-square
  .items-in-user-profile
    .items-box-container
      %h2.items-box-head
        = link_to "#", class:"items-box-head" do
          みぽさんのその他の出品
      .items-box-content
        %ul
          = render "item" 
          = render "item" 
          = render "item" 
          = render "item" 
          = render "item" 
          = render "item" 
      %h2.items-box-head
        = link_to "#", class:"items-box-head" do
          コーチのショルダーバッグ  その他の出品
      .items-box-content
        %ul
          = render "item" 
          = render "item" 
          = render "item" 
          = render "item" 
          = render "item" 
          = render "item" 
      