.profile-wrapper
  %h2.profile-wrapper__header
    プロフィール
  .profile-wrapper__icon-area
    .profile-wrapper__icon-area__icon-wrapper
      .profile-wrapper__icon-area__icon-wrapper__icon-frame
        = image_tag "mypage/user-icon-test.jpg", class: "profile-wrapper__icon-area__icon-wrapper__icon-frame__icon-image"
  .profile-wrapper__form
    = form_with model: current_user do |f|
      = f.text_field :nickname, class: "profile-wrapper__form__nickname", placeholder: "うに太郎＠初心者" do
        = current_user.nickname
      = f.text_area :profile, class: "profile-wrapper__form__profile", placeholder: "うに太郎＠初心者といいます。まだまだ始めたばかりですが、どうぞよろしくお願いします" do
        = current_user.profile
      = f.submit "変更する", class: "profile-wrapper__form__button"