.profile-wrapper
  %h2.profile-wrapper__header
    プロフィール
  = form_with model: current_user do |f|
    .profile-wrapper__icon-area
      = image_tag "mypage/user-icon-test.jpg", class: "profile-wrapper__icon-area__icon-image"
      = f.text_field :nickname, class: "profile-wrapper__icon-area__nickname", placeholder: "うに太郎＠初心者" do
        = current_user.nickname
    .profile-wrapper__form
      = f.text_area :profile, class: "profile-wrapper__form__profile", placeholder: "うに太郎＠初心者といいます。まだまだ始めたばかりですが、どうぞよろしくお願いします" do
        = current_user.profile
      = f.submit "変更する", class: "profile-wrapper__form__button"