= form_with url: :pay_transactions do |f|
  %h2 購入を確定しますか？
  %p
    = @item[0].name
  %p
    = @item[0].price
  %br
  %h3 支払い方法
  - if @default_card_information.blank?
    %br /
  - else
    -#以下カード情報を表示
    = "**** **** **** " + @default_card_information.last4
    - exp_month = @default_card_information.exp_month.to_s
    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
    = exp_month + " / " + exp_year
  %br
  = f.submit "Send" 