.login-header
  .login-header__title
    .login-header__title_logo
    = link_to (image_tag "fmarket_logo_red.svg", size: "185x49", alt: "Fmarket",class: "login-header__upper__title-logo__link"), :root
    .login-main__container-form

= form_with url: :pay_transactions do |f|
  %h2 購入を確定しますか？
  %p
    = @item[0].name
  %p
    = @item[0].price
  %br
  %h3 支払い方法
  - if @card_information.blank?
    %br /
  - else
    .card-contents__main__section
      .card-contents__main__section__form__number
        = "**** **** **** " + @card_information.last4
      .card-contents__main__section__form__date
        - exp_month = @card_information.exp_month.to_s
        - exp_year = @card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      = image_tag "credit-cards/#{@card_src}", width: '26', height: '20', alt: @card_brand, id: "card_image", class: "card-contents__main__section__form__image"  
  %br
  = f.submit "確定",class: "btn-default"