.app-download
  .app-download__wrapper
    .app-download__wrapper__left
      .app-download__wrapper__left__first-sentence スマホでかんたんフリマアプリ
      .app-download__wrapper__left__second-sentence 今すぐ無料ダウンロード！
      .app-download__wrapper__left__third-sentence
        = image_tag  'logo_red.svg', size: '100x100'
    .app-download__wrapper__right
      = image_tag  'footer_image.png'

.footer
  .footer__upper
    .footer__upper__detail
      .footer__upper__detail__index メルカリについて
      .footer__upper__detail__list
        %ul
          %li 
            = link_to '会社概要（運営会社）', '#', class: 'footer__upper__detail__list'
          %li
            = link_to '採用情報', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'プレスリリース', '#', class: 'footer__upper__detail__list'
          %li
            = link_to '公式ブログ', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'メルカリロゴ利用ガイドライン', '#', class: 'footer__upper__detail__list'
      .footer__upper__detail__icon--twitter
        = link_to "#" do
          %i.fa.fa-twitter
      .footer__upper__detail__icon--facebook
        = link_to "#" do
          %i.fa.fa-facebook-square

    .footer__upper__detail
      .footer__upper__detail__index ヘルプ＆ガイド
      .footer__upper__detail__list
        %ul
          %li
            = link_to 'メルカリガイド', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'らくらくメルカリ便', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'ゆうゆうメルカリ便', '#', class: 'footer__upper__detail__list'
          %li
            = link_to '大型メルカリ便', '#', class: 'footer__upper__detail__list'
          %li
            = link_to '車体取引ガイド', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'メルカリあんしん・あんぜん宣言！', '#', class: 'footer__upper__detail__list'
          %li
            = link_to '偽ブランド品撲滅への取り組み', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'メルカリボックス', '#', class: 'footer__upper__detail__list'
    .footer__upper__detail
      .footer__upper__detail__index プライバシーと利用規約
      .footer__upper__detail__list
        .footer__upper__detail__list__right
          %ul
            %li
              = link_to 'プライバシーポリシー', '#', class: 'footer__upper__detail__list'
            %li
              = link_to 'メルカリ利用規約', '#', class: 'footer__upper__detail__list'
            %li
              = link_to 'あんしんスマホサポート制度に関する利用特約', '#', class: 'footer__upper__detail__list'
            %li
              = link_to 'コンプライアンスポリシー', '#', class: 'footer__upper__detail__list'
        .footer__upper__detail__list__left
          %ul
            %li
              = link_to '個人データの安全管理にかかる基本方針', '#', class: 'footer__upper__detail__list'
            %li
              = link_to '特定商取引に関する表記', '#', class: 'footer__upper__detail__list'
            %li
              = link_to '資金決済法に基づく表示', '#', class: 'footer__upper__detail__list'
            %li
              = link_to '法令遵守と犯罪抑止のために', '#', class: 'footer__upper__detail__list'
    .footer__upper__detail
      .footer__upper__detail__index 国
      .footer__upper__detail__list
        %ul
          %li
            = link_to '日本', '#', class: 'footer__upper__detail__list'
          %li
            = link_to 'United States', '#', class: 'footer__upper__detail__list'
  .footer__bottom
    .footer__bottom--icon
      = link_to (image_tag "fmarket_logo_white.svg", size: "50x50", alt: "Fmarket"), :root
    .footer__bottom--copy-writing
      %small.copyright
        &copy;
        = succeed "." do
          %span#copyright_year
        2019 fmarket
