.header
  .header__upper
    .header__upper__title-logo
      = link_to (image_tag "fmarket_logo_red.svg", size: "134x36", alt: "Fmarket"), :root            
    %form.header__upper__form
      %input.header__upper__form__search{name: "", placeholder: "何かお探しですか？", type: "search", value: ""}/
      = link_to "#" do
        %i.fas.fa-search

  .header__bottom
    %ul.header__bottom__search-items
      %li.header__bottom__search-items__li#slide_categories
        = link_to "#", class: "header__bottom__search-items__li__link" do
          %i.fas.fa-list-ul
          カテゴリーから探す
      %li.header__bottom__search-items__li#slide_brands
        = link_to "#", class: "header__bottom__search-items__li__link" do
          %i.fas.fa-tag
          ブランドから探す
        = render 'layouts/slide_menu/slide_brands'
    -if user_signed_in?
      %ul.header__bottom__user-menu
        %li.header__bottom__user-menu__li
          = link_to :like_mypage_index, class: "header__bottom__user-menu__li" do
            %i.far.fa-heart
            いいね！一覧
        %li.header__bottom__user-menu__li.header-notice
          = link_to "#", class: "header__bottom__user-menu__li" do
            %i.far.fa-bell
            お知らせ
        %li.header__bottom__user-menu__li.header-todo
          = link_to "#", class: "header__bottom__user-menu__li" do
            %i.fas.fa-check
            やることリスト
        %li.header__bottom__user-menu__li.header-mypage
          = link_to :mypage_index, class: "header__bottom__user-menu__li" do
            %i.far.fa-user-circle.gray
            マイページ
        
        = render "layouts/noticebar"      
        = render "layouts/todobar"
        = render "layouts/mypagebar"

    -else
      %ul.header__bottom__login-block
        %li
          = link_to '新規会員登録',new_user_registration_path, class: 'header__bottom__login-block__signup-button'
        %li
          = link_to 'ログイン',new_user_session_path, class: 'header__bottom__login-block__signin-button'  
