.mypage-sidebar
  %ul.mypage-sidebar__list
    %li.mypage-sidebar__list__item
      = link_to :mypage_index, class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name マイページ
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name お知らせ
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name やることリスト
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name いいね！一覧
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 出品する
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to :listing_mypage_index, class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 出品した商品 - 出品中
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 出品した商品 - 取引中
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 出品した商品 - 売却済み
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 購入した商品 - 取引中
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 購入した商品 - 過去の取引
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name ニュース一覧
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 評価一覧
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name ガイド
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name お問い合わせ
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
  %h3.mypage-sidebar__header
    メルペイ
  %ul.mypage-sidebar__list
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 残高・振込申請
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name ポイント
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
  %h3.mypage-sidebar__header 設定
  %ul.mypage-sidebar__list
    %li.mypage-sidebar__list__item
      = link_to :profile_mypage_index, class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name プロフィール
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 発送元・お届け先住所変更
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to :card_mypage_index, class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 支払い方法
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name メール/パスワード
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to :identification_mypage_index, class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 本人情報
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item
      = link_to "#", class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name 電話番号の確認
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"
    %li.mypage-sidebar__list__item.mypage-sidebar__list__item
      = link_to :logout_mypage_index, class: "mypage-sidebar__list__item__link" do
        %span.mypage-sidebar__list__item__link__menu-name ログアウト
        = fa_icon "chevron-right", class: "mypage-sidebar__list__item__link__arrow"

